@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --black: #150605;
    --red: #EA453C;
    --pink: #F47B6E;
    --light-blue: #EFFBFE;
    --blue: #ACE6EC;
}